<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
    <script type="text/javascript">
      function toggle(button) {
        if (button.value == "ON") {
        
        button.value = "OFF";
       
         
        } else if (button.value == "OFF") {
           button.value = "ON";
        }
        button.style.color = "white";
      }
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Dashboard, <%= email %></h1>
      <h2>Users Count: <%= count %></h2>
      <div class="row">
        <% users.forEach(function(user) { %>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header"><%= user.name %></div>
            <div class="card-body">
              <p>Email: <%= user.email %></p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  
    <!-- <h2>The button is OFF.</h2> -->

    <!-- rs -->
  </body>
</html>
